/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* ___Global/Universal___*/

*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
/*Top Bar*/
.top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        background: rgb(4 4 4);
        padding: 10px 22px;
        top: 0px;
        font-weight: 100;
       }
.top-bar a{
        text-decoration: none;
        padding-left: 8px;
        font-size: small;
        color: #f16e25;
        }
.top-bar a:hover {
        margin-top:20px;
}
.top-bar-social{
         display: flex;
         justify-content: space-between;
         gap: 20px;
        }
/*Nav Bar*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(4 4 4);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(238 109 32 / 58%);
}

/*Welcome section*/
.welcome,.services{
margin: 20px;
padding: 10px;
}

.welcome h1,.services h1{
    font-weight: 900;
    text-align: center;
    padding: 10px 0px;
}
footer .address{
    background: #01c6ec;
    padding: 10px 50px;
    display: flex;
}
footer .address div{
    width:33%;
}
.copyright{
    background-color: rgb(4 4 4);
    padding:10px 22px;
    text-align: center;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(242 111 40);
}

/*service*/

.services-container{
    display: flex;
}
.services .services-container .service-box{
    width:33%;
}